CANVAS_BASE_URL=http://fizz-canvas.centralus.cloudapp.azure.com
CANVAS_CLIENT_ID=10000000000001
# Generated with https://mkjwk.org/
JWK_KEY_PAIR='{"p":"deleted real data ","kty":"RSA","q":"deleted real data ","d":"deleted real data ","e":"AQAB","use":"sig","kid":"deleted real data ","qi":"deleted real data ","dp":"deleted real data ","alg":"RS256","dq":"deleted real data ","n":"deleted real data "}'
