[run]
branch = True
source = edfi_google_classroom_extractor
omit =
    edfi_google_classroom_extractor/main.py
    edfi_google_classroom_extractor/config.py
    edfi_google_classroom_extractor/result.py

[report]
